@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Semi Condensed Light'), local('BarlowSemiCondensed-Light'), url(assets/fonts/Barlow-Light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), url(assets/fonts/Barlow-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.barlow {
  font-family: Barlow Semi Condensed, sans-serif;
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 200;
  src: local('Muli ExtraLight'), local('Muli-ExtraLight'), url(assets/fonts/Muli-ExtraLight.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.muli {
  font-family: Muli, sans-serif;
}

@font-face {
  font-family: iosevka;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/iosevka-term-ss02-light.woff2') format('woff2');
}

code,
.code {
  font-family: iosevka, Consolas, monaco, monospace;
}

@font-face {
  font-family: Icons;
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/icons.woff2') format('woff2');
}

.icon {
  font-family: Icons;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
  width: 1em;
}

.mail::before {
  content: '\e807';
}

.twitter::before {
  content: '\f099';
}

.github::before {
  content: '\f09b';
}

.red {
  color: rgb(202, 38, 38);
}

.bg-white98 {
  background-color: rgb(250, 250, 250);
}

.wv-100 {
  width: 100vw;
}

.hv-100 {
  height: 100vh;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ew-resize {
  cursor: ew-resize;
}

.w-1 {
  width: 1%;
}

.select-triangle {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  right: 4%;
  top: 42%;
}

.pv-2 {
  padding-top: 2px;
  padding-bottom: 1px;
}

.mr-2 {
  margin-right: 2px;
}

.fg-1 {
  flex-grow: 1;
}